*::before
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

::-webkit-scrollbar{
    display: none;
}


.hidden {
    display: none;
}

#outputMessage {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #000;
    text-align: center;
}

input[type="text"], input[type="number"], input[type="date"], select {
    margin-bottom: 10px;
    padding: 5px;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    cursor: pointer;
}

body {
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

